.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__about {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 80%;
  gap: 2rem;

  p {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 2rem;
  }

  @media screen and (max-width: 480px) {
    width: 100%;

    h4 {
      font-size: 1.6rem;
      padding: 0 1rem;
    }

    p {
      font-size: 1.2rem;
      padding: 0 1rem;
    }

    .line {
      margin-left: 1rem;
    }
  }
}

.line {
  display: block;
  width: 100px;
  border-bottom: 0.1rem solid var(--secondary-color);
}
